:root {
  --font-family: "Space Mono", monospace;
  --bg-color: #ffffff;
  --card-bg: rgba(255, 255, 255, 0.3);
  --card-border: rgba(24, 24, 24, 0.4);
  --card-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  --text-primary: #12523a;
  --text-secondary: #121f07;
  --text-accent: #121f07;
  --toggle-bg: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--card-bg);
  width: 350px;
  min-height: 400px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 25px;
  box-shadow: var(--card-shadow);
  border: 1px solid var(--card-border);
  transition:
    background-color 0.5s ease,
    box-shadow 0.5s ease,
    color 0.5s ease;
  color: var(--text-primary);
}

/* --- Cabeçalho (Data) --- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0;
}
.week-wrapper .date {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-primary);
}
.week-wrapper .day {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 4px;
}

/* --- Clima --- */
.weather-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinha o select e o toggle à direita */
  gap: 10px;
}

.weather-wrapper .img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  filter: none;
}

/* --- Seção Principal (Hora e Saudação) --- */
.section {
  text-align: center;
}

.time-wrapper .time .ampm {
  color: var(--text-glow);
  font-size: 1.5rem;
  margin-left: -25px;
  vertical-align: super;
  text-transform: uppercase;
  font-weight: 400;
}

.time-wrapper .time {
  white-space: nowrap;
  font-size: 3.5rem;
  /* 72px */
  font-weight: 700;
  letter-spacing: -2px;
  color: var(--text-accent);
  text-shadow: none;
  text-align: center;
  transition: color 0.5s ease;
}

.time-wrapper .greeting {
  font-size: 1.125rem;
  /* 18px */
  color: var(--text-secondary);
  margin-top: 10px;
}

#lang-opt {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--card-border);
  background-color: var(--card-bg);
  cursor: pointer;
  color: var(--text-primary);
}
